* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* background-color: pink; */
  font-size: 16px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-family: "Dosis", sans-serif;
  font-family: "Karla", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Roboto", sans-serif;
}
header {
  color: white;
  padding: 20px;
}
nav {
  color: white;
  background-color: #0d57a1;
  width: 100%;
  /* width: calc(100vw-16px); */
  margin: 0;
  padding: 0;
}
.nav-link {
  padding-bottom: 10px;
  padding-left: 10px;
}
.nav-home {
  padding-top: 10px;
}
main {
  color: white;
  text-align: justify;
}
nav a:hover,
nav a:active,
nav a:visited,
nav a:link {
  text-decoration: none;
  color: white;
}

/* =====flex sytle===== */
.discover-nj {
  text-align: center;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-link:hover {
  cursor: pointer;
  background-color: #1171d1;
}
.banner img {
  width: 100%;
  height: auto;
}
main {
  position: relative;
  top: 0%;
  left: 0%;
}
.main-heading {
  width: 50vw;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: 5%;
  left: 2%;
  padding: 10px;
  text-align: center;
}
.nj-tourism {
  color: black;
  padding: 2%;
}
.nj-tourism h3 {
  padding-bottom: 10px;
  text-align: center;
}

.nj-tourism img {
  /* padding: 0; */
  width: 50%;
  height: auto;
  float: right;
  margin-left: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.7);
}
aside {
  border-top: 2px solid rgba(194, 193, 193, 0.3);
  /* font-size: 0.9rem; */
  padding: 20px;
}
.aside-text {
  padding-bottom: 5px;
  padding-top: 5px;
}
aside img {
  width: 80%;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
.image-holder h3 {
  text-align: center;
}
.ny-view {
  text-align: center;
  font-weight: bold;
}

footer {
  font-size: 0.6rem;
  text-align: center;
}
/* =====grid style===== */
.main-container {
  display: grid;
  height: 100vh;
  grid-template-rows: 80px 1fr 1fr 20px;
  grid-template-areas:
    "alias-header alias-header"
    "alias-main alias-main"
    "alias-aside alias-aside"
    "alias-footer alias-footer";
}
.main-container-expanded {
  /* grid-template-rows: 80px 35px 1fr 1fr 20px; */
  grid-template-rows: 80px 215px 1fr 1fr 20px;

  grid-template-areas:
    "alias-header alias-header"
    "alias-nav alias-nav"
    "alias-main alias-main"
    "alias-aside alias-aside"
    "alias-footer alias-footer";
}

header {
  background-color: #1e4040;
  grid-area: alias-header;
}
nav {
  grid-area: alias-nav;
}

.hide-nav {
  display: none;
}
main {
  /* background-color: pink; */
  grid-area: alias-main;
}

aside {
  /* background-color: maroon; */
  grid-area: alias-aside;
}
footer {
  background-color: #1e4040;
  opacity: 0.8;
  grid-area: alias-footer;
  color: white;
}
/* =====Referencing Bootstap Breakpoint=====  */
@media (min-width: 576px) {
  nav {
    display: block !important;
  }
  .main-container {
    /* display: grid; */
    grid-template-rows: 80px 40px 1fr 1fr 20px;
    grid-template-areas:
      "alias-header alias-header"
      "alias-nav alias-nav"
      "alias-main alias-main"
      "alias-aside alias-aside"
      "alias-footer alias-footer";
  }
  header {
    justify-content: space-evenly;
    align-items: center;
  }
  .fa-bars {
    display: none;
  }
  .main-heading {
    width: 25vw;
  }
  /* .nj-tourism {
    position: relative;
  } */
  .nj-tourism img {
    display: none;
  }
  nav {
    display: flex !important;
    justify-content: center;
    align-items: center;
    /* padding: 0;
    margin: 0; */
  }
  .nav-link {
    padding: 10px;
    margin: 0;
    height: 100%;
  }
}
